<div style="display: none;">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Patient Name</div>
      <div class="col-md-4">
        <span class='contenteditable' data-dicom="x00100010"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="PN" class="col-sm-12" type="text" data-dicom="x00100010" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Patient ID</div>
      <div class="col-md-4">
        <span data-dicom="x00100020"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="LO" class="col-sm-12" type="text" data-dicom="x00100020" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Patient Birth Date</div>
      <div class="col-md-4">
        <span data-dicom="x00100030"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="DA" class="col-sm-12" type="text" data-dicom="x00100030" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Study Description</div>
      <div class="col-md-4">
        <span data-dicom="x00081030"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="LO" class="col-sm-12" type="text" data-dicom="x00081030" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Protocol Name</div>
      <div class="col-md-4">
        <span data-dicom="x00181030"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="LO" class="col-sm-12" type="text" data-dicom="x00181030" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Accession #</div>
      <div class="col-md-4">
        <span data-dicom="x00080050"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="SH" class="col-sm-12" type="text" data-dicom="x00080050" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Study Id</div>
      <div class="col-md-4">
        <span data-dicom="x00200010"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="SH" class="col-sm-12" type="text" data-dicom="x00200010" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Study Date</div>
      <div class="col-md-4">
        <span data-dicom="x00080020"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="DA" class="col-sm-12" type="text" data-dicom="x00080020" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Study Time</div>
      <div class="col-md-4">
        <span data-dicom="x00080030"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="TM" class="col-sm-12" type="text" data-dicom="x00080030" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Series Description</div>
      <div class="col-md-4">
        <span data-dicom="x0008103e"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="LO" class="col-sm-12" type="text" data-dicom="x0008103e" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Series Date</div>
      <div class="col-md-4">
        <span data-dicom="x00080021"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="DA" class="col-sm-12" type="text" data-dicom="x00080021" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Series Time</div>
      <div class="col-md-4">
        <span data-dicom="x00080031"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="TM" class="col-sm-12" type="text" data-dicom="x00080031" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Acquisition Date</div>
      <div class="col-md-4">
        <span data-dicom="x00080022"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="DA" class="col-sm-12" type="text" data-dicom="x00080022" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Acquisition Time</div>
      <div class="col-md-4">
        <span data-dicom="x00080032"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="TM" class="col-sm-12" type="text" data-dicom="x00080032" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Content Date</div>
      <div class="col-md-4">
        <span data-dicom="x00080023"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="DA" class="col-sm-12" type="text" data-dicom="x00080023" />
      </div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">Content Time</div>
      <div class="col-md-4">
        <span data-dicom="x00080033"></span>
      </div>
      <div class="col-md-4">
        <input data-vr="TM" class="col-sm-12" type="text" data-dicom="x00080033" />
      </div>
    </div>
  </li>
</div>

<img src="{{imgtest}}" alt="{{imgtest}}" style="max-width:350px"/>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body text-center">
    <div id="dropZone" class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-offset-2 col-md-8">
          <div style="text-align:center;">
            <div>
              <div class="row">
                <div class="col-md-9">
                  <label>description</label>
                  <input type="text" class="form-control border-input" name="description" placeholder="description" [(ngModel)]="description">
                  <br>
                  <button class="btn btn-sm btn-primary" (click)="postuler(); c('Close click')">share</button>
                </div>
                <div class="col-md-3">
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <label class="btn btn-primary btn-sm">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Browse
                        <input type="file" id="fichier" name="fichier" (change)="fileChangeEvent($event);" style="display: none;">
                      </label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div id="dicomImage" style="height: 60vh">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let filename of sharedFilenames">
      {{filename}}
    </li>
  </ul>
  <br>

</ng-template>

<div class="row ">
  <div class="col-md-3">
    <div class="card text-center">
      <div class="content">
        <h3> Share images</h3>
        <div class="row justify-content-center">
          <div class="icon-big icon-warning text-center">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </div>
        </div>
        <div class="footer">
          <hr/>
          <div class="stats">
            <i class="ti-reload"></i>
            <button class="btn btn-lg btn-outline-primary btn-xs" (click)="open(content)">
              <i class="fa fa-upload" aria-hidden="true"></i>select file</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">filter posts</h3>
        <!--<h3> filter posts</h3>-->
        <div class="row justify-content-center">
          <div class="col-md-10">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 border-input form-control" name="specialityTitle" [(ngModel)]="specialityTitle"
              (ngModelChange)="change($event);">
              <option *ngFor="let specialitytitle of specialitytitles" value="{{specialitytitle}}">{{specialitytitle}}</option>
            </select>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 border-input form-control" name="speciality" [(ngModel)]="speciality">
              <option *ngFor="let speciality of getSpeciality();" value="{{speciality}}">{{speciality}}</option>
            </select>
          </div>
        </div>
        <div class="footer">
          <hr/>
          <div class="stats">
            <i class="ti-reload"></i>
            <button class="btn btn-lg btn-outline-primary btn-xs" (click)="getFilteredPosts();">
              filter posts</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-7 anyClass">
    <div class="card gallery" *ngFor="let post of posts; let i = index">
      <div class="header">
        <img src="{{ post.profilephoto}}" class="avatar"> {{post.username}}
        <p class="category">{{post.date}}</p>
      </div>
      <hr>
      <div class="content" *ngIf="user">
        <div style="text-align: center;">
          <ngb-carousel style="background-color: black" *ngIf="post.thumbs.length > 0">
            <ng-template ngbSlide *ngFor="let thumbe of post.thumbs">
              <img src="{{ thumbe.thumb }}" alt="forum" style="height: 40%; width: 50%;" class="zoom">
              <div class="carousel-caption">
                <button class="btn btn-fill btn-sm btn-primary" (click)="download(thumbe.link);">download image</button>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <h3>{{ post.text }}</h3>
        <button type="button" class="btn btn-outline-primary btn-xs" (click)="togglediv('test'+post.posteid);" [attr.aria-expanded]="!isCollapsed"
          [attr.aria-controls]="'test'+post.posteid">
          <i class="fa fa-comments" aria-hidden="true"></i>comments
        </button>
        <hr>
        <div [attr.id]="'test'+post.posteid">
          <div class="card card-block">
            <div class="header">
              <img src="{{user.photo}}" class="avatar"> {{user.username}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="text-primary">{{getDate() | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
            </div>
            <hr>
            <div class="content">
              <input type="text" class="form-control border-input" [attr.id]="'comment'+post.posteid" placeholder="comment">
              <br>
              <button class="btn btn-sm btn-primary" (click)="addComment(post.posteid);">add comment</button>
            </div>
          </div>
          <div *ngFor="let comment of post['comments']">
            <div class="card card-block">
              <div class="header">
                <img src="{{comment.photoprofile}}" class="avatar"> {{comment.username}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-primary">{{comment.date}}</span>
              </div>
              <hr>
              <div class="content">
                <p>{{comment.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>